.IceHotAdmin{
    width: 100%;
    height: 100%;
    
    .tytle{
      color: tan;
      font-size: 30px;
      font-family: Tahoma;
      text-transform: capitalize;
      padding: 0 0 20px;
      user-select: none;
    }
  
    .newItemsTrack{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-radius: 20px;
        
        &-data{
          display: flex;
          justify-content: flex-start;
          align-items: center;
  
          .number{
            min-width: 40px;
            min-height: 60px;
            font-family: 'Raleway-Bold';
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .playTrack{
            background: #2FC3FE;
          }
          .rating{
            width: 40px;
            height: 100%;
            display: flex;
            font-family: 'Raleway-Light';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            color: #000000;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .ratingUp::before{
            content: '';
            width: 0;
            height: 0;
            position: relative;
            border: 8px solid transparent;
            border-bottom: 8px solid #3CA422;
          }
          .ratingDovn::after{
            content: '';
            width: 0;
            height: 0;
            position: relative;
            border: 8px solid transparent;
            border-top: 8px solid #A42222;
          }
          span{
            margin: 3px 0;
          }
          .imgTrack{
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center; 
            cursor: pointer;
  
            svg{
              position: absolute;
            }
          }
          .name-track{
            width: 350px;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            padding: 0 20px;
  
            .author{
              font-family: 'Raleway-Bold';
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              letter-spacing: 0.1em;
              color: #000000;
            }
            .delimiters{
              margin: 0 5px;
            }
            .track{
              font-family: 'Raleway-Light';
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              letter-spacing: 0.1em;
              color: #000000;
            }
          }
        }
  
        &-info{
          width: 150px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 30px 0 0;
  
          .timeRating{
            font-family: 'Raleway-Light';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            letter-spacing: 0.1em;
            color: #000000;
          }
          .youTubeLinck{
            width: 70px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
          }
        }
      }
  
  }