.team{
  width: 95%;

  .title{
    display: flex;
    justify-content: space-between;
    margin: 60px 0 40px;
    width: 100%;
    height: 90px;

    .a{
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      hr{
        width: 30px;
        height: 3px;
        margin-right: 10px;
        background: #2FC3FE;
        border: none;
      }
      h1{
        font-family: 'Raleway-SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #2FC3FE;
      }
    }
    
    .b{
      width: calc(100% - 280px);
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
      .arrow{
        color: #2FC3FE;
        font-weight: 600;
        font-size: 30px;
        line-height: 4px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: baseline;
      }
      h1{
        font-family: 'Raleway-Light';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #2FC3FE;
      }
      .rectangle{
        width: 100%;
        height: 90px;
        max-width: 650px;
        background: #C4C4C4;

        .swiper{
          .swiper-wrapper{
            .boxBanner{
              width: 100% !important;
              height: 90px;
              display: flex;
              justify-content: center;
              align-items: center;
              .images{
                position: absolute;
                img{
                  width: 100%;
                }
              }
              .textslide{
                position: absolute;
                z-index: 1;
                right: 44px;
                bottom: 18px;
                background: aliceblue;
              }
            }
          }
        }
      }
    }
  }

  .wrapper{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 0 100px 0;

    .infoRadio{
      margin: 5px 0 30px 0;
    }
    .newIemsMore{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .content{
        display: flex;
        padding: 0;
        
        .box{
          font-family: 'Raleway-Medium';
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: 0.1em;
          color: #000000;
          text-align: justify;
          margin: 0 20px 0 0;

          .images{
            width: 100%;
            height: auto;

            .imag{
              max-width: 100%;
              max-height: 100%;
            }
          }
          .name{
            font-family: 'Raleway-Bold';
            font-size: 14px;
            font-weight: bold;
          }
          .position{
            font-family: 'Raleway-Light';
            font-size: 10px;
          }
          .email{
            font-family: 'Raleway-Light';
            font-size: 10px;
            margin: 0 0 10px 0;
          }
        }
      }
    }
    .newIemsList{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .imagesBlock{
        width: 230px;
        height: 350px;
        max-width: 220px;
        max-height: 350px;
        flex: 1 0 21%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        margin: 0 20px 40px 0;

      .content{
        width: 196px;
        height: 100px;
        color: #2FC3FE;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 14px 10px 10px 10px;
        margin: -4px 0 0 0;
        color: #000000;
        font-style: normal;
        text-align: center;

        .name{
          font-family: 'Raleway-Bold';
          font-size: 14px;
          font-weight: bold;
        }
        .position{
          font-family: 'Raleway-Light';
          font-size: 10px;
          margin: 10px 0 0 0;
        }
        .email{
          font-family: 'Raleway-Light';
          font-size: 10px;
          margin: 10px 0 0 0;
        }
      }

        .images{
          width: 218px;
          height: 230px;
          background-blend-mode: multiply;
          mix-blend-mode: multiply;

          &>.img{
            width: 100%;
            height: 100%;
            position: relative;
          }
        }
      }

      .activeNewItems{

        .imagesBackSelect{
          width: 218px;
          height: 230px;
          position: absolute;
          background: linear-gradient(to top, #2FC3FE, transparent 100%);
        }
      }
    }
  }

}
@media (max-width: 1130px) { 
  .team{
    justify-content: center;
    width: 95%;
    height: auto;
  }
}
@media (max-width: 800px) {
  .team{
    .title{
      margin: 0;
      .b{
        display: none;
      }
    }
    .wrapper{
      padding: 0 0 100px 0;
      .newIemsMore {
        .content{
          align-items: center;
          flex-direction: column;
        }
      }
      .newIemsList{
        justify-content: space-evenly;
        align-items: flex-start;
        .imagesBlock{
          flex: auto;
          width: 130px;
          height: 240px;

          .imagesBackSelect{
            width: 150px;
            height: 165px;
          }
          .images{
            width: 150px;
            height: 170px;
          }
          .content{
            width: 130px;
          }
        }

      }
    }
  }
}