.widget{
  display: flex;
  width: 300px;
  height: 840px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 157px 0 0 0;
  margin: 0 0 0 10px;

  .images{
    margin: 0 0 30px 0;
    width: 300px;
    height: 510px;
    position: relative;
    margin: 0 0 30px 0;
    
    .cssload-loader{
      height: calc(100% / 2.5);
    }
  }
  .images2{
    margin: 0 0 30px 0;
    width: 300px;
    height: 217px;
    position: relative;

    .cssload-loader{
      width: calc(100% / 2);
    }
  }
}
@media (max-width: 1100px) {
  .widget{
    display: none;
  }
}